@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}

body {

background-color: #081b29;
font-family: 'Poppins', sans-serif;
font-weight: 600;
color: #ededed;

}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {

    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
navbar a.active {

color: #00abf0;
}
.home {
    height: 100vh;
    display: flex;
    background: url('https://o.remove.bg/downloads/6a4fbef2-85df-4f79-842b-493a7cbd1cef/_b647f5e5-9c3c-4548-8453-8e51dcc56fed-removebg-preview.png') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0 10%;
    

    
}t

.home-content {
    max-width: 600px;
    }
    
    .home-content h1 {
    
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2
    }
    
    .home-content h3 {
    
        font-size: 32px;
        font-weight: 700;
        color: #00abf0;
    
    }
    
    .home-content p {
        font-size: 16px;
    margin: 20px 0 40px;
    }