@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
   
    background: #081b29;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

color: #ededed;
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {

    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
navbar a.active {

color: #00abf0;


}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #00abf0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    padding: 20px;
  }
  
  label, input {
    margin: 10px 0; /* Adjust margin for spacing */
    padding: 12px 20px;
    height: 30px;

  }
  
  button {
    height: 40px; /* Adjust the button height as needed */
    padding: 10px;
    width: 100px;
    background-color: black;
    color: #00abf0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  /* Hamburger menu button styles */
.menu-toggle {
  display: none; /* Hide the hamburger menu button by default */
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #ededed;
  margin: 3px 0;
}


/* Add a media query to show/hide the hamburger menu button as needed */
@media (max-width: 768px) {
  .menu-toggle {
      display: flex; /* Show the hamburger menu button on smaller screens */
  }
  
  .navbar {
      display: none; /* Hide the navigation menu by default on smaller screens */
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px; /* Adjust the top position as needed */
      background: #081b29;
  }

  .navbar.active {
      display: flex; /* Show the navigation menu when active */
  }
}

.message {

background-color: #f20f29;
font-weight: 600;
font-size: 24px;

}